body {
    background-color: #000000;
    color: #333;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #000;
}
h3 {
    font-size: 20px;
}

h5 {
    font-size: 13px;
}

h2 {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

h7 {
    color: orangered;
    font-size: 18px;
    margin-bottom: 20px;
}
h8 {
    color: red;
    font-size: 25px;
    margin-bottom: 20px;
}
h9 {
    color: black;
    font-size: 14px;
}

form {
    background-image: url('cocacola.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el espacio */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
    background-color: #D6C6C2;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
}
 .category-container {
        text-align: center; /* Centra el contenido horizontalmente */
    }

    .category-container div {
        display: inline-block; /* Muestra los divs en la misma fila */
        margin: 0 10px; /* Margen entre las categorías */
    }

    
    .category-container input {
        display: inline-block; /* Muestra los labels e inputs en la misma fila */
        margin-bottom: 5px; /* Espacio entre elementos */
	
	box-sizing: border-box;
	width: 28%;
	height: 35px;
	padding: 10px;
	border: 1px solid #ccc;
	padding: 10px;
        border-radius: 5px;
    }

 /* Estilos para el botón */
    .boton-nomina {
        background-color: #F04317; /* Color de fondo rojo */
        color: #fff; /* Color de texto blanco */
        border: none; /* Sin borde */
        padding: 10px 20px; /* Espaciado interno */
        font-size: 16px; /* Tamaño de fuente */
        border-radius: 5px; /* Bordes redondeados */
        cursor: pointer; /* Cambia el cursor al pasar el ratón */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
        transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
    }

    /* Estilos para el botón al pasar el ratón */
    .boton-nomina:hover {
        background-color: #B92803; /* Color de fondo rojo más oscuro al pasar el ratón */
    }

	
	<link rel="stylesheet" type="text/css" href="style.css" />

